<%= simple_form_for(@person, url: person_registration_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <h1 class="title has-text-centered mt-3">Dados de Login</h1>
    <%= f.input :name %>
    <%= f.input :telephone, as: :string, input_html: { class: "phone", placeholder: " (xx) xxxxx-xxxx" } %>
    <%= f.input :email, input_html: { placeholder: " example@gmail.com"} %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Enviar", class: "is-fullwidth is-info mt-4" %>
  </div>
<% end %>
