<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Dono</h1>

    <table class="mt-6 table is-fullwidth is-hoverable ">
      <thead>
        <tr class="has-text-centered">
          <th>Nome</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Número</th>
          <th>Complemento</th>
          <th>Bairro</th>
          <th>Cep</th>
          <th>Cidade</th>
          <th width="100px"></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr class="has-text-centered">
            <td><%= person.name %></td>
            <td><%= person.telephone %></td>
            <td><%= person.address %></td>
            <td><%= person.number %></td>
            <td><%= person.complement %></td>
            <td><%= person.district %></td>
            <td><%= person.zip %></td>
            <td><%= person.city %></td>
            <td>
              <%= link_to edit_person_path(person), class: "table-button" do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to person_path(person), method: :delete, data: { confirm: "Tem certeza?" }, class: "table-button" do %>
                <%= fa_icon "trash" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Cadastrar Dono", new_person_registration_url, class: "button is-fullwidth is-info" %>
  </div>
</section>
