<%= simple_form_for(@pet_registration) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_setence if f.object.errors[:base].present? %>
    
  <div class="form-inputs">
    <%= f.input :name, input_html: { placeholder: "Digite o nome do seu Amiguinho" } %>
    <%= f.input :kind, input_html: { placeholder: "Ex.: Cachorro" } %>
    <%= f.input :breed, input_html: { placeholder: "Digite a raça do seu Amiguinho" } %>
    <%= f.input :birthdate, as: :string, input_html: {class: "birthdate", placeholder: "Digite a data de Nascimento do seu Amiguinho" } %>
    <%= f.file_field :photografy, class: "mb-2", required: true %>
    <h1 class="mt-3">Escolher dono</h1>
    <p><%= f.association :person %></p>  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", class: "is-fullwidth is-info mt-6" %> 
  </div>
<% end %>
