<p id="notice" class="ml-6"><%= notice %></p>

<p class="title has-text-centered">
<%= @pet_registration.name %>
</p>

<div class="container">
  <div class="columns">
    <div class="column is-two-fifths profile-photo">
    </div>

    <div class="column">
        <% if @pet_registration.photografy.attached? %>
          <figure class="image is-128x128 has-text-centered">
            <%= image_tag @pet_registration.photografy, class: "is-rounded round-photo" %>  
          </figure>
        <% else %>
          <figure class="image is-128x128">
            <%= image_tag "no-image.png", class: "is-rounded" %>
          </figure>
        <% end %>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered mt-0">
    <p><h2>
        <strong>Nome:</strong>
        <%= @pet_registration.name %>
      </p></h2>

    <p><h2>
      <strong>Dono:</strong>
      <%= link_to @pet_registration.person.name, person_profile_url %>
    </p></h2>
  
    <p><h2>
      <strong>Tipo:</strong>
      <%= @pet_registration.kind %>
    </p></h2>

    <p><h2>
      <strong>Raça:</strong>
      <%= @pet_registration.breed %>
    </p></h2>

    <p><h2>
      <strong>Aniversário:</strong>
      <%= @pet_registration.birthdate %>
    </p></h2>

    <p><%= link_to "Voltar", person_profile_url, class: "button is-info mt-2" %>
    <%= link_to "Editar", edit_pet_registration_path(@pet_registration), class: "button is-info mt-2" %> 
  </div>
</section>
