<!DOCTYPE html>

<html>
  <div class="columns">
    <div class="column">    
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <b class="logo ml-4" style="margin-top: 21px;">Pet Tag | ADMIN  </b>
        </div>
          
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <% if person_signed_in? %>
              <a class="navbar-item mr-2 ml-2" href="/">
                Home
              </a>
        
              <a class="navbar-item mr-2 ml-2" href="/people">
                Dono
              </a>

              <%= link_to pet_registrations_url, class: "navbar-item mr-2 ml-2" do %>
                Pet
              <% end %>

              <% else %>
                <a class="navbar-item mr-2 ml-2" href="/">
                  Home
                </a>
              <% end %>
          </div>
        </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if person_signed_in? %>
                  
                <% else %>
                  <%= link_to "Entrar", new_person_session_path, class: "has-text-white mr-4" %>
                  <%= link_to "cadastrar-se", new_person_registration_path, class: "button" %>
                <% end %>

                <% if person_signed_in? %>
                  <div class="navbar-item has-dropdown is-hoverable mr-6 pr-4">
                    <a class="navbar-item has-text-white" style="margin-top: 10px; padding-top: 0; padding-bottom: 0;">
                      <%= current_person.first_name if current_person.present?  %>
                    </a>
                    <div class="navbar-dropdown">
                      <%= link_to person_profile_url, class: 'navbar-item' do %>
                        Perfil
                      <% end %>
                      <a class="navbar-item">
                      
                      </a>
                      <hr class="navbar-divider">
                        <%= link_to "Sair", destroy_person_session_path, method: :delete, class: "navbar-item" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <div>
          </div>

      </nav> 
    </div>
  </div>
</html>