<!DOCTYPE html>

<html>
  <div class="columns">
    <div class="column">    
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <b class="logo ml-4" style="margin-top: 21px;">Pet Tag </b>
        </div>
          
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <% if person_signed_in? %>
              <%= link_to "Home", root_url, class: 'navbar-item mr-2 ml-2' %>
        
              <%= link_to "Dono", people_url, class: "navbar-item mr-2 ml-2" %>

              <%= link_to "Pet", pet_registrations_url, class: "navbar-item mr-2 ml-2" %>

            <% else %>
              <%= link_to "Home", root_url, class: 'navbar-item mr-2 ml-2' %>
            <% end %>
          </div>
        </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if person_signed_in? %>
                  <div>
                    <%= link_to 'javascript:', onclick: "toggleCartDlg()", class: "mr-4 fa-2x cart-button modal-button" do %>
                      <%= fa_icon "shopping-cart" %>
                    <% end %>
                  </div>
                  
                  <div class="navbar-item has-dropdown is-hoverable mr-6 pr-4">
                    <a class="navbar-item has-text-white profile-button">
                      <%= current_person.first_name if current_person.present?  %>
                    </a>
                    <div class="navbar-dropdown">
                      <%= link_to 'perfil', person_profile_url, class: 'navbar-item' %>
                      
                      <%# link_to 'Editar Perfil', , class: "navbar-item" %>
                      <hr class="navbar-divider">
                        <%# link_to "Editar Perfil", , class: "navbar-item" %>
                        <%= link_to "Sair", destroy_person_session_path, method: :delete, class: "navbar-item" %>
                    </div>
                  </div>
                <% else %>
                  <%= link_to "Entrar", new_person_session_path, class: "has-text-white mr-4" %>
                  <%= link_to "cadastrar-se", new_person_registration_path, class: "button" %>
                <% end %>
              </div>
            <div>
          </div>
        </div>
      </nav> 
    </div>
  </div >
</html>